@keyframes font {
  0% {
    font-variation-settings: 'YEAR' 1979;
  }
  2% {
    font-variation-settings: 'YEAR' 1980;
  }
  4% {
    font-variation-settings: 'YEAR' 1981;
  }
  6% {
    font-variation-settings: 'YEAR' 1982;
  }
  8% {
    font-variation-settings: 'YEAR' 1983;
  }
  10% {
    font-variation-settings: 'YEAR' 1984;
  }
  12% {
    font-variation-settings: 'YEAR' 1985;
  }
  14% {
    font-variation-settings: 'YEAR' 1986;
  }
  16% {
    font-variation-settings: 'YEAR' 1987;
  }
  18% {
    font-variation-settings: 'YEAR' 1988;
  }
  20% {
    font-variation-settings: 'YEAR' 1989;
  }
  22% {
    font-variation-settings: 'YEAR' 1990;
  }
  24% {
    font-variation-settings: 'YEAR' 1991;
  }
  26% {
    font-variation-settings: 'YEAR' 1992;
  }
  28% {
    font-variation-settings: 'YEAR' 1993;
  }
  30% {
    font-variation-settings: 'YEAR' 1994;
  }
  32% {
    font-variation-settings: 'YEAR' 1995;
  }
  34% {
    font-variation-settings: 'YEAR' 1996;
  }
  36% {
    font-variation-settings: 'YEAR' 1997;
  }
  38% {
    font-variation-settings: 'YEAR' 1998;
  }
  40% {
    font-variation-settings: 'YEAR' 1999;
  }
  42% {
    font-variation-settings: 'YEAR' 2000;
  }
  44% {
    font-variation-settings: 'YEAR' 2001;
  }
  46% {
    font-variation-settings: 'YEAR' 2002;
  }
  48% {
    font-variation-settings: 'YEAR' 2003;
  }
  50% {
    font-variation-settings: 'YEAR' 2004;
  }
  52% {
    font-variation-settings: 'YEAR' 2005;
  }
  54% {
    font-variation-settings: 'YEAR' 2006;
  }
  56% {
    font-variation-settings: 'YEAR' 2007;
  }
  58% {
    font-variation-settings: 'YEAR' 2008;
  }
  60% {
    font-variation-settings: 'YEAR' 2009;
  }
  62% {
    font-variation-settings: 'YEAR' 2010;
  }
  64% {
    font-variation-settings: 'YEAR' 2011;
  }
  66% {
    font-variation-settings: 'YEAR' 2012;
  }
  68% {
    font-variation-settings: 'YEAR' 2013;
  }
  70% {
    font-variation-settings: 'YEAR' 2014;
  }
  72% {
    font-variation-settings: 'YEAR' 2015;
  }
  74% {
    font-variation-settings: 'YEAR' 2016;
  }
  76% {
    font-variation-settings: 'YEAR' 2017;
  }
  78% {
    font-variation-settings: 'YEAR' 2018;
  }
  80% {
    font-variation-settings: 'YEAR' 2019;
  }
  82% {
    font-variation-settings: 'YEAR' 2020;
  }
  84% {
    font-variation-settings: 'YEAR' 2021;
  }
  86% {
    font-variation-settings: 'YEAR' 2022;
  }
  88% {
    font-variation-settings: 'YEAR' 2023;
  }
  90% {
    font-variation-settings: 'YEAR' 2024;
  }
  92% {
    font-variation-settings: 'YEAR' 2025;
  }
  94% {
    font-variation-settings: 'YEAR' 2026;
  }
  96% {
    font-variation-settings: 'YEAR' 2027;
  }
  98% {
    font-variation-settings: 'YEAR' 2028;
  }
  100% {
    font-variation-settings: 'YEAR' 2029;
  }
}
